.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(61, 158, 158);
    flex-direction: column;
}
.h1{
    font-size: 45px;
    color: rgb(197, 96, 96);
    margin-bottom: 30px;
}
.paragrafo{
    color: rgb(37, 35, 35);
    margin-bottom: 50px;
}
.ref{
    padding: 10px 50px;
    background-color: rgb(91, 96, 102);
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.5s;
}
.ref:hover{
    border-radius: 15px;
}
